<div class="signup-fields pt-5">
    <!-- Main Form Start -->
    
      <form>
        <!-- Password Send Start -->
        <div class="password-sent">
          <div class="signup-msg my-3">
            <div>Looks like this email already has an</div>
            <div> account. Try signing in or if you forgot</div>
            <div> your password we can help you reset it.</div>
          </div>
          <div class="form-group input-group pt-5 pb-2">
            <button class="btn btn-block my-1 btn-primary" [routerLink]="['/signin']" type="submit">Sign in</button>
          </div>
        </div>
        <!-- Password Send End -->
        <div class="text-center pt-4">
          <div class="form-group py-3 font-regular"><a class="btn-link" href="#">Forgot password?</a></div>
          <div class="form-group py-3 input-group justify-content-center align-items-center">
              <span class="icon-medical mr-3"></span>
              <div>Your information is secure</div>
          </div>
        </div>
      </form>
  </div>