<app-header></app-header>
<div class="main-content profile-bg">
  <div class="container">
    <div class="profile-contain row">
      <div class="profile-sidebar col-sm-2 d-none d-lg-block">
        <ul class="mx-0 px-0">
          <li [ngClass]="{'active': router.url === '/settings/user-profile'}" [routerLink]="['/settings/user-profile']">
            Profile
          </li>
          <li>
            <a>Notificatons</a>
          </li>
          <li>
            <a>Bank accounts</a>
          </li>
          <li [ngClass]="{'active': router.url === '/settings/security'}" [routerLink]="['/settings/security']">
            <a>Sign in  & security</a>
          </li>
        </ul>
      </div>
      
      <div class="col-md-12 col-lg-8">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
