<!-- <div class="alert-msg d-flex justify-content-between danger">
  <div class="d-flex align-items-start">
    <span class="icon-process mr-2"></span>
    <span>The email and password combination you entered is incorrect. Please try again</span>
  </div>
  <div>
    <a class="light" href="#"><span class="icon-close"></span></a>
  </div>
</div>
<div class="alert-msg process black">Authentication code sent to (608) 534-7652</div> -->
<div class="login-container text-left">
  <div class="d-flex w-100 flex-wrap">
    <div class="login-form d-flex col-lg-5">
      <app-login-header></app-login-header>
      <div class="login-col">
      <router-outlet></router-outlet>
      <footer class="signup-footer d-flex justify-content-start flex-wrap">
        <div class="d-flex justify-content-between flex-column inner">
          <div class="form-group py-3">Trouble signing in? <a class="call-link" href="tel:(800) 422-4661">Call (800) 422-4661</a></div>
          <div class="form-group py-3 font-11 d-none d-lg-block">©2018 TASC. All rights reserved.</div>
        </div>
      </footer>
      </div>
    </div>
    <div class="login-bg col-lg-7">
      <div class="login-bg-wrapper">
        <div class="login-bg-text">WELCOME <br>TO TASC</div>
        <span class="seperator"></span>
      </div>
      
    </div>
  </div>
</div>