<div class="mt-3 py-5 title-outer">
  <h1 class="title text-uppercase">Forgot Password</h1>
  <span class="seperator"></span>
</div>
<div class="font-bold black font-18 verification-code mb-4">Enter verification code</div>
<div class="signup-msg my-3">
  We just sent a code to {{destinationToBeDisplayed}}
</div>
<div class="text-center pt-5">
  <a class="btn-success-text" [routerLink]="['/forgot-password']">Wrong email address? Click here to change it</a>
</div>
<div class="signup-fields pt-5">
  <!-- Main Form Start -->
  <form name="resetCodeForm" [formGroup]="resetCodeForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="form-group input-group">
        <label class="has-float-label">
          <input class="form-control" type="tel" formControlName="verificationCode" placeholder="Enter Code" maxlength="6" minlength="6"/>
          <span>Enter 6-digit code</span>
          <div class="focus-msg-check" *ngIf="resetCodeForm.valid"><span class="icon-check"></span></div>
        </label>
      </div>
      <div class="form-group d-flex pt-5 pb-2">
        <button name="submitButton" class="btn btn-block my-1 btn-primary btn-light btn-disabled" [ngClass]="{ 'btn-disabled btn-light' : !resetCodeForm.valid }" [disabled]="!resetCodeForm.valid" type="submit">Verify</button>
      </div>
      <div class="text-center pt-4">
        <div class="form-group py-3 font-regular"><a class="btn-success-text" (click)="resendEmailVerificationCode()">Resend code</a></div>
      </div>
    </div>
    <!-- Password Send End -->
  </form>
  <!-- Main Form End -->
</div>
