<div class="signup-fields pt-5">
  <!-- Main Form Start -->
  
    <form>
      <!-- Password Send Start -->
      <div class="password-sent">
        <div class="signup-msg my-3">
          <div>We don't recognize this email address yet.</div>
          <div>Contact your employer to resolve this issue.</div>
        </div>
        <div class="signup-msg my-5">
          a.donnington@gmail.com
        </div>
        <!-- <span class="icon-check icon-check py-5 mt-4 mb-4 d-block sent-icon"></span> -->
        <span class="pt-3 mt-4 d-block signup-error red">
          <span class="icon-process"></span>
        </span>
        <div class="form-group input-group pt-5 pb-2">
          <button class="btn btn-block my-1 btn-primary" [routerLink]="['/signup']" type="submit">Sign up</button>
        </div>
      </div>
      <!-- Password Send End -->
      <div class="text-center pt-4">
        <div class="form-group py-3 input-group justify-content-center align-items-center">
            <span class="icon-medical mr-3"></span>
            <div>Your information is secure</div>
        </div>
      </div>
    </form>
</div>