<div class="mt-5 pt-5 pb-2 title-outer">
  <h1 class="login-title text-uppercase">Enter Authentication code</h1>
</div>
<div class="login-msg my-3">
  We just sent a code to (608) 534-7652.
</div>
<div class="login-fields pt-5">
  <!-- Main Form Start -->
  <form>
    <div class="form-group input-group">
      <label class="has-float-label">
        <input class="form-control" type="email" placeholder="Enter Code" maxlength="6"/>
        <span>Enter 6-digit code</span>
        <div class="focus-msg-check"><span class="icon-check"></span></div>
      </label>
    </div>
    <div class="form-group input-group pt-5 pb-2">
      <button class="btn btn-block my-1 btn-primary btn-light btn-disabled" disabled type="submit">Verify</button>
    </div>
    <div class="pt-4">
      <div class="form-group py-3 font-regular"><a class="btn-success-text" href="#">Resend code</a></div>
    </div>
  </form>
  <!-- Main Form End -->
</div> 