<div class="mt-3 pt-5 title-outer">
  <h1 class="title text-uppercase">Reset Your Password</h1>
  <span class="seperator"></span>
</div>
<div class="signup-fields pt-5">
  <!-- Main Form Start -->
  <form name="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="signup-msg mb-5">
        Please create your new password.
      </div>
      <div class="form-group input-group">
        <label class="has-float-label">
          <input class="form-control" type="{{passwordFieldType}}" placeholder="New Password" formControlName="password"/>
          <span>New Password</span>
          <button name=showHidePassword (click)="togglePasswordType()" type="button" class="focus-msg button-transparent">{{passwordBtnText}}</button>
        </label>
      </div>
      <div class="form-group input-group signup-instruction my-0" [ngClass]="{'show-inst':  resetPasswordForm.controls.password.value}">
          <ul class="d-flex flex-column text-left mx-0 px-0">
            <li
            [ngClass]="{ 'password-valid' : !(resetPasswordFormControl && resetPasswordFormControl.password && resetPasswordFormControl.password.errors && resetPasswordFormControl.password.errors.requiredMinLengthCustom) }"
            class="py-1">
              <span
              [ngClass]="[(resetPasswordFormControl && resetPasswordFormControl.password && resetPasswordFormControl.password.errors && resetPasswordFormControl.password.errors.requiredMinLengthCustom) ? 'icon-process mr-3' :'icon-check mr-3' ]">
              </span>
              At least 8 characters
            </li>
            <li
            [ngClass]="{ 'password-valid' : !(resetPasswordFormControl && resetPasswordFormControl.password && resetPasswordFormControl.password.errors && resetPasswordFormControl.password.errors.requiredAtLeastOneUpperCase) }" class="py-1">
              <span [ngClass]="[(resetPasswordFormControl && resetPasswordFormControl.password && resetPasswordFormControl.password.errors && resetPasswordFormControl.password.errors.requiredAtLeastOneUpperCase) ? 'icon-process mr-3' :'icon-check mr-3' ]">
              </span>
              At least one upper case letter
            </li>
            <li
            [ngClass]="{ 'password-valid' : !(resetPasswordFormControl && resetPasswordFormControl.password && resetPasswordFormControl.password.errors && resetPasswordFormControl.password.errors.requiredAtLeastOneSpecialCharacter) }" class="py-1">
              <span [ngClass]="[(resetPasswordFormControl && resetPasswordFormControl.password && resetPasswordFormControl.password.errors && resetPasswordFormControl.password.errors.requiredAtLeastOneSpecialCharacter) ? 'icon-process mr-3' :'icon-check mr-3' ]">
              </span>
              At least one special character (!@#$%)
            </li>
            <li
            [ngClass]="{ 'password-valid' : !(resetPasswordFormControl && resetPasswordFormControl.password && resetPasswordFormControl.password.errors && resetPasswordFormControl.password.errors.requiredAtLeastOneNumeric) }" class="py-1">
              <span [ngClass]="[(resetPasswordFormControl && resetPasswordFormControl.password && resetPasswordFormControl.password.errors && resetPasswordFormControl.password.errors.requiredAtLeastOneNumeric) ? 'icon-process mr-3' :'icon-check mr-3' ]">
              </span>
              At least one numeric{{resetPasswordFormControl && resetPasswordFormControl.password && resetPasswordFormControl.password.errors && resetPasswordFormControl.password.errors.requiredAtLeastOneNumeric}}
            </li>
          </ul>         
        </div>
      <div class="form-group d-flex pt-5 pb-2">
        <button class="btn btn-block my-1 mr-5 btn-outline-secondary" type="button" [routerLink]="['/forgot-password']">Cancel</button>
        <button name="submitButton" class="btn btn-block my-1 btn-primary btn-light btn-disabled" [ngClass]="{ 'btn-disabled btn-light' : !resetPasswordForm.valid }" [disabled]="!resetPasswordForm.valid" type="submit">Reset</button>
      </div>
    </div>
    <div class="text-center pt-4">
      <div class="form-group py-3 input-group justify-content-center align-items-center">
          <span class="icon-medical mr-3"></span>
          <div>Your information is secure</div>
      </div>
    </div>
  </form>
  <!-- Main Form End -->
</div>
