@import '../../../../assets/scss/_variables.scss';
@import '../../../../assets/scss/_mixin.scss';

.password-instruction {
  visibility: hidden;
  transition: all .2s ease;
  height: 0;
  opacity: 0;
  &.show-inst {
    visibility: visible;
    height: 118px;
    opacity: 1;
    transition: all .5s ease;
  }
  li {
    display: flex;
    align-items: center;
    @include font-mixin($size: 1.5rem);
  }
  span {
    @include font-mixin($size: 1.4rem);
    &.icon-process {
      @include font-mixin($size: 2rem);
    }
  }
}

@media (max-width: 991px) {
  .password-instruction {
    padding-top: 10px;
  }
}
