<div class="form-group input-group password-instruction my-0" [ngClass]="{'show-inst': validateForm.controls.password.value}">
  <ul class="d-flex flex-column text-left mx-0 px-0">
    <li
    [ngClass]="{ 'password-valid' : !(validateForm && validateForm.password && validateForm.password.errors && validateForm.password.errors.requiredMinLengthCustom) }"
    class="py-1">
      <span
      [ngClass]="[(validateForm && validateForm.password && validateForm.password.errors && validateForm.password.errors.requiredMinLengthCustom) ? 'icon-process mr-3' :'icon-check mr-3' ]">
      </span>
      At least 8 characters{{validateForm.controls.password.value}}
    </li>
    <li
    [ngClass]="{ 'password-valid' : !(validateForm && validateForm.password && validateForm.password.errors && validateForm.password.errors.requiredAtLeastOneUpperCase) }" class="py-1">
      <span [ngClass]="[(validateForm && validateForm.password && validateForm.password.errors && validateForm.password.errors.requiredAtLeastOneUpperCase) ? 'icon-process mr-3' :'icon-check mr-3' ]">
      </span>
      At least one upper case letter
    </li>
    <li
    [ngClass]="{ 'password-valid' : !(validateForm && validateForm.password && validateForm.password.errors && validateForm.password.errors.requiredAtLeastOneSpecialCharacter) }" class="py-1">
      <span [ngClass]="[(validateForm && validateForm.password && validateForm.password.errors && validateForm.password.errors.requiredAtLeastOneSpecialCharacter) ? 'icon-process mr-3' :'icon-check mr-3' ]">
      </span>
      At least one special character (!@#$%)
    </li>
    <li
    [ngClass]="{ 'password-valid' : !(validateForm && validateForm.password && validateForm.password.errors && validateForm.password.errors.requiredAtLeastOneNumeric) }" class="py-1">
      <span [ngClass]="[(validateForm && validateForm.password && validateForm.password.errors && validateForm.password.errors.requiredAtLeastOneNumeric) ? 'icon-process mr-3' :'icon-check mr-3' ]">
      </span>
      At least one numeric{{validateForm && validateForm.password && validateForm.password.errors && validateForm.password.errors.requiredAtLeastOneNumeric}}
    </li>
  </ul>         
</div>
